* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dina", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow: hidden;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.header-link {
  display: flex;
  gap: 3rem;
  font-weight: 300;
  cursor: pointer;
}

.header-link a {
  color: #fff;
  font-size: 12px;
}

.header-link a:hover {
  color: #7e57c2;
  transition: 0.3s all;
}

.logo img {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

button {
  color: #7e57c2;
  background: transparent;
  border: solid 1px #7e57c2;
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background-color: #7e57c2;
  color: #fff;
  transition: 0.5s;
}

.container-text {
    padding-top: 120px;
    color: #fff;
}

.container-text p {
    font-size: 12px;
}

.container-text h2,
.container-text h1,
.container-text p,
.social-medias {
    padding: 0 0 20px 20px;
}

.container-text span {
    color: #7e57c2;
}

.social-medias i{
    padding-left: 1rem;
    color: #7e57c2;
    font-size: 45px;
}
